@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", serif;
  background-color: #F9FAFB;
}
main {
  width: 700px;
  margin: auto;
}
img{
  margin-top: 80px;
}
h1{
  font-size: 48px;
  font-weight: 600;
  color: #000000;
}
p{
  color: #6C727F;
  font-size: 20px;
  font-weight: 400;
}

#newsletter-container {
  background-color: #ffff;
  border-radius: 20px;
  height: 240px;
  width: 565px;
  position: relative;
  left: 70px;
  top: 50px;
}

#email {
  font-size: 16px;
  font-weight: 500;
  width: 490px;
  height: 60px;
  border: 1px solid #c6d0e6;
  border-radius: 10px;
  background-color: #F9FAFB;
  position: relative;
  margin-top: 25px;
  color: #000000;
}
button {
  display: block;
  margin: 20px;
  width: 490px;
  height: 60px;
  background-color: #284BCE;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  border-radius: 10px;
  left: 20px;
  border: none;
  top: 5px;
}
#aviso{
  font-size: 14px;
  font-weight: 400;
  color: #6C727F;
  background-color: #ffff;
}

